{% extends 'base.html' %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role='alert'>Vyskytla se chyba ve vašem formuláři.<button type="button" class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
</div>

{% endif %}

<center>
		<br/><br/><br/>
	<div class="card text-center mb-3 shadow" style="width: 37rem;">
  		<div class="card-body">
			<br/><br/><br/>
			<h2>Vytvořit nový účet</h2>
			<br/>
	<br/><br/>
		<div class="mb-3">
	      	<form action="{% url 'register_user' %}" method=POST>
	 			{% csrf_token %}
	      		
	      		{{ form }}
	      		<br/><br/>
	  			<button type="submit" class="btn btn-secondary">REGISTROVAT</button><br/><br/>
			</form>
			</div>
	</div>

</center>

{% endblock %}