
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<div class="container">
	<br/><br/><br/><br/>

	<a href="{% url 'create_csv1' %}">1kolo stahnou csv</a><br/>

	<a href="{% url 'create_csv2' %}">2kolo stahnou csv</a><br/>

	<a href="{% url 'zastupitele_csv' %}">zastupitele stahnou csv</a><br/>

	<a href="{% url 'obce_csv' %}">obce stahnou csv</a><br/>

{% else %}

<div class="alert alert-warning alert-dismissible fade show" role='alert'>Nejsete přihlášeni. K prohlížení obsahu musíte být přihlášeni.<button type="button" class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>

{% endif %}
</div>
{% endblock %}